@import "../../variables";
.main-container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: .5rem;
    margin-top: -3rem;
    z-index: 1;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    .bamboo-img {
        margin-top: -1.5rem;
    }
    .text-content {
        padding: 2rem 1rem 0 1rem;
    }
    .button-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 3rem;
        .btn {
            background-color: hsl(176, 50%, 47%);
            padding: 1.3rem 2rem;
            border-radius: 2rem;
            color: white;
            border: none;
        }
    }
    .amount-container {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        p {
            border-bottom: 1px solid lightgrey;
            width: 30%;
            padding-bottom: 2rem;
            margin: 0 auto;
        }
        .border-none {
            border-bottom: none;
        }
        .sideBar {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 80%;
            text-align: left;
            border-top: 10px solid hsl(176, 50%, 47%);
            border-radius: 1rem;
        }
    }
}