@import "../../variables";
.project-container.active {
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: auto;
    border: 1px solid $subtitleFont;
    border-radius: .5rem;
    padding: 4rem 2rem;
    position: absolute;
    background-color: rgb(250, 250, 225);
    box-shadow: 5px 10px 5px 10px $subtitleFont;
    .close {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .close.active {
        display: none;
    }
    .subtitle {
        width: 90%;
    }
    .stand-content.active {
        border-color: $buttons;
    }
    .stand-content {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        position: relative;
        border: 1px solid $subtitleFont;
        border-radius: .5rem;
        padding: 1rem;
        .title-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            .title:hover {
                color: $buttons;
                font-weight: $bold;
            }
            .pledge {
                color: $buttons;
            }
            .mobile-none {
                display: none;
            }
            .radio {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                position: absolute;
                top: 1rem;
                left: 1rem;
                background-color: $buttons;
            }
        }
        .btn-description.active {
            padding-top: 1rem;
            border-top: 1px solid $subtitleFont;
        }
        .description,
        .btn-description.active {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: left;
            padding-top: 1rem;
            .stock-number {
                font-size: 1.8rem;
                font-weight: $bold;
            }
            .enter-pledge {
                padding: 1rem 0;
                text-align: center;
            }
            .btn-container {
                display: flex;
                width: 100%;
                justify-content: space-around;
                .pledge-btn {
                    width: 40%;
                    height: 3rem;
                    border: 1px solid $subtitleFont;
                    border-radius: 2rem;
                    color: $mainFont;
                    padding: 0.5rem 0;
                    background-color: rgba(0, 0, 0, .2);
                    font-size: 1rem;
                    cursor: pointer;
                    margin-right: .5rem;
                    &:hover {
                        background-color: rgba(255, 255, 255, .8);
                    }
                }
                .stand-btn {
                    width: 60%;
                    height: 3rem;
                    background-color: $buttons;
                    border-radius: 2rem;
                    color: white;
                    border: none;
                    font-size: 1rem;
                    cursor: pointer;
                    &:hover {
                        background-color: $hoverButtons;
                    }
                }
            }
        }
        &.mahogany {
            opacity: 0.4;
        }
    }
}

.project-container,
.btn-description {
    display: none;
}

@media only screen and (min-width: 992px) {
    .project-container.active {
        width: 60vw;
        margin-top: 10rem;
        h2 {
            margin: 1rem 0;
        }
        .subtitle {
            font-size: 0.8rem;
        }
        .stand-content {
            margin: 1rem 0;
            .title-content {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                .title {
                    padding-left: 2rem;
                }
                .mobile-none {
                    display: flex;
                    .number {
                        padding-right: 10px;
                        font-weight: $bold;
                    }
                }
            }
            .description {
                font-size: .8rem;
                padding-left: 2rem;
                .stock,
                .stock-number {
                    display: none;
                }
            }
            .btn-description.active {
                width: 100%;
                flex-direction: row;
                justify-content: space-around;
                top: 3rem;
                right: 2rem;
                .enter-pledge {
                    font-size: .8rem;
                    width: 40%;
                }
                .btn-container {
                    justify-content: flex-end;
                    .pledge-btn {
                        max-width: 5rem;
                        font-size: .8rem;
                    }
                    .stand-btn {
                        max-width: 10rem;
                        font-size: .8rem;
                        padding: .5rem .3rem;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    .project-container.active {
        max-width: 40vw;
        align-items: center;
        justify-content: center;
    }
}