@import "../../variables";
.support-container.active,
.gotIt {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgb(250, 250, 225);
    border: 1px solid $subtitleFont;
    border-radius: .5rem;
    padding: 2rem;
    .check {
        width: 4rem;
        margin-bottom: 2rem;
    }
    h3 {
        margin-bottom: 2rem;
    }
    .support-btn {
        max-width: 15rem;
        background-color: $buttons;
        padding: .8rem 2rem;
        border-radius: 2rem;
        color: white;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
        margin-top: 2rem;
    }
    .support-btn:hover,
    .support-btn:focus,
    .support-btn:active {
        background-color: $hoverButtons;
        outline: none;
    }
}

.support-container {
    display: none;
}

@media only screen and (min-width: 992px) {
    .support-container.active {
        max-width: 40vw;
        margin-top: 75%;
    }
}

@media only screen and (min-width: 1440px) {
    .support-container.active {
        margin-top: 100%;
    }
}