@import "../../variables";
.stand-container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .stand-content {
        align-items: center;
        width: 70%;
        height: auto;
        padding: 2rem;
        border: 1px solid $subtitleFont;
        border-radius: .5rem;
        margin: 2rem 0;
        & div {
            margin-bottom: 2rem;
        }
        .pledge {
            color: $buttons;
            font-weight: bold;
        }
        .stock {
            font-size: 1.8rem;
            font-weight: bold;
        }
        .stand-btn {
            max-width: 15rem;
            background-color: $buttons;
            padding: .8rem 2rem;
            border-radius: 2rem;
            color: white;
            border: none;
            font-size: 1.2rem;
            cursor: pointer;
        }
        .stand-btn:hover {
            background-color: $hoverButtons;
        }
        .stand-btn:active,
        .stand-btn:focus {
            outline: none;
        }
    }
    & .mahogany {
        opacity: .4;
        & .outOf-btn {
            padding: .8rem 2rem;
            border-radius: 2rem;
            font-size: 1.2rem;
            cursor: pointer;
            max-width: 15rem;
            background-color: $mainFont;
            color: white;
            border: none;
        }
    }
}