@import "../../variables";
.stand-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .4);
    .stand-content,
    .mahogany {
        align-items: center;
        width: 90%;
        height: auto;
        padding: 2rem;
        border: 1px solid $subtitleFont;
        border-radius: .5rem;
        margin: 2rem 0;
        & div {
            margin-bottom: 2rem;
        }
        .pledge {
            color: $buttons;
            font-weight: bold;
        }
        .stock {
            font-size: 1.8rem;
            font-weight: bold;
        }
        .stand-btn {
            max-width: 15rem;
            background-color: $buttons;
            padding: .8rem 2rem;
            border-radius: 2rem;
            color: white;
            border: none;
            font-size: 1.2rem;
            text-shadow: 2px 2px 1px $mainFont;
            letter-spacing: 1.1px;
            font-weight: bold;
            cursor: pointer;
        }
        .stand-btn:hover {
            background-color: $hoverButtons;
        }
        .stand-btn:active,
        .stand-btn:focus {
            outline: none;
        }
    }
    .mahogany {
        opacity: .4;
        .outOf-btn {
            padding: .8rem 2rem;
            border-radius: 2rem;
            font-size: 1.2rem;
            cursor: pointer;
            max-width: 15rem;
            background-color: $mainFont;
            color: white;
            border: none;
        }
    }
}

@media only screen and (min-width:992px) {
    .stand-container {
        flex-direction: column;
        margin: 0 auto;
        width: 60vw;
        padding: 0 2rem;
        .stand-content,
        .mahogany {
            flex-direction: column;
            width: 100%;
            padding: 1rem;
            .row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 0;
                .stand-btn,
                .outOf-btn {
                    max-width: 10rem;
                    font-size: .8rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    .stand-container {
        max-width: 40vw;
        .stand-content {
            &-text {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}