@import "../../variables";
.header {
    width: 100vw;
    height: auto;
    display: flex;
    position: relative;
    .mobile-img {
        z-index: -1;
    }
    .desktop-img {
        display: none;
    }
    .menu {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 1rem;
        position: absolute;
        top: 0;
        .hamburger,
        .close.active {
            display: flex;
            width: 10%;
        }
        .nav-menu,
        .hamburger.active,
        .close {
            display: none;
        }
    }
    .nav-menu.active {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 3rem;
        .nav-list {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 71%;
            border-radius: .5rem;
            background-color: rgba(255, 255, 255, .8);
            .border {
                display: flex;
                width: 100%;
                border-bottom: 1px solid hsl(0, 4%, 82%);
                padding: 2rem 0;
                &:nth-child(3) {
                    border-bottom: 0;
                }
            }
            .nav-item {
                color: $mainFont;
                text-decoration: none;
                margin-left: 1rem;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .header {
        flex-direction: column;
        width: 100vw;
        height: 30vh;
        position: relative;
        .mobile-img {
            display: none;
        }
        .desktop-img {
            width: 100%;
            height: auto;
            display: flex;
            z-index: -1;
        }
        .hamburger-icon,
        .hamburger {
            display: none;
        }
        .nav-menu {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            position: absolute;
            .nav-list {
                display: flex;
                width: 100%;
                height: auto;
                align-items: center;
                padding: 1.5rem .5rem;
                justify-content: flex-end;
                list-style-type: none;
                .nav-item {
                    padding: 0 2rem;
                    text-decoration: none;
                    color: white;
                    font-size: 1.3rem;
                }
            }
        }
    }
}