@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');
$buttons: hsl(176,
50%,
47%);
$hoverButtons: hsl(176,
72%,
28%);
$mainFont: hsl(0,
0%,
0%);
$subtitleFont: hsl(0,
0%,
48%);
$font: 'Commissioner',
sans-serif;
$normal: 400;
$bolder: 500;
$bold: 700;