@import "./variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: auto;
    background-color: rgb(250, 250, 225);
    font-family: $font;
    line-height: 1.5;
}

.App {
    background-color: rgba(0, 0, 0, 0.2);
}